.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
  }

.sidebarWrapper{
    padding:0px 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.sidebarListItem:active,
.sidebarListItem:hover{
    background-color: #e9e9fd;
    color: black;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px;
}